<hr>
<div class="footer-container row mr-auto">
  <div class="col-sm-3 col-md-3 offset-md-1">
    <div class="title row">
      <p>Experimentality</p>
    </div>
    <div class="row">
      <a href="https://www.experimentality.co/"><img class="logo-experimentality" src="../../assets/experimentality.png"/></a>
    </div>    
  </div>
  <div class="col-sm-3 col-md-3 offset-md-1">
    <div class="title row">
      <p>Medellín - Colombia</p>
    </div>
    <div class="row">
      <img class="logo-cc" src="../../assets/cc-logo.svg"/>
    </div>    
  </div>
  <div class="col-sm-3 col-md-3 offset-md-1">
    <div class="title row">
      <p>Developed by:</p>  
    </div>
    <div class="row">
      <p><a href="https://www.linkedin.com/in/juan-fernando-giraldo-cardona-juanferrgiraldo/">Juan Fernando Giraldo Cardona</a></p>
    </div>    
    <div class="row">
      <div class="col">
        <a href="https://github.com/juanferrgiraldo/ExperimenTube"><i class="fab fa-github fa-2x"></i></a>
      </div>
      <div class="col">
        <a href="https://www.linkedin.com/in/juan-fernando-giraldo-cardona-juanferrgiraldo/"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
      <div class="col">
        <a href="https://www.facebook.com/juanferrgiraldo"><i class="fab fa-facebook-square fa-2x"></i></a>
        </div>
    </div>        
  </div>
</div>