@import '../../styles/var';

hr {
  margin-top: 20px;
  background-color: $green;
  height: 2px;
  margin: 25px;
}

.footer-container {
  margin-top: 30px;
  margin-left: 10px;
  font-family: $font-family;

  a {
    color: $gray;
  }

  .title {
    font-weight: bold;
    font-size: 16px;
  }

  .logo-experimentality {
    width: 85px;
    height: 65px;
  }

  .logo-cc {
    width: 153px; 
    height: 37px;
  }
}

@media only screen and (max-width: 768px) {
  hr {
    margin: 20px 15px;    
    background-color: $green;
    height: 1px;
  }
  
  .footer-container {
    margin-top: 30px;
    margin-left: 10px;    
  
    .title {
      font-size: 15px;
    }
  
    .logo-experimentality {
      width: 45px;
      height: 35px;
    }
  
    .logo-cc {
      width: 80px; 
      height: 22px;
      margin-bottom: 5px;
    }
  }
}
