<hr>
<div class="footer-container row mr-auto">
  <div class="col-xs-3 col-md-3 offset-md-1">
    <img src="../../assets/experimenTube.png" width="100" height="65"/>
    <p>ExperimenTube</p>
  </div>
  <div class="col-xs-3 col-md-3 offset-md-1">
    <img src="../../assets/cc-logo.svg" width="153" height="37"/>
    <p>Medellín - Colombia</p>
  </div>
  <div class="col-xs-3 col-md-3 offset-md-1">
    <p>Developed by: <a href="https://www.linkedin.com/in/juan-fernando-giraldo-cardona-juanferrgiraldo/">Juan Fernando Giraldo Cardona</a></p>
    <a href="https://github.com/juanferrgiraldo/ExperimenTube"><i class="fab fa-github fa-2x"></i></a>
  </div>
</div>