@import '../../styles/var';

.navbar {
  background-color: $light-green;
  display: -webkit-box;
  margin-left: 10px;
  margin-right: 10px;
  font-family: $font-family;

  a {
    color: $white;
    &:hover {
      color: $green;
    }
  }
}

.searchButton {
  border-radius: 6px;
  background-color: $white;
  color: $green;
  &:hover {
    cursor: pointer;
    background-color: $white !important;
    border-style: solid;
    border-color: $green;
    color: $gray;
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    display: -webkit-inline-box;
  }
}