@import '../../styles/var';

.navbar {
  background-color: $light-green;
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-right: 10px;
  font-family: $font-family;

  a {
    color: $white;
    &:hover {
      color: $green;
    }
  }
}

.searchBar {
  flex-wrap: nowrap;  
  .searchArea {
    border-radius: 6px;
    border: 1px solid transparent;
    padding: .375rem .75rem;
  }  
  .searchButton {
    border-radius: 6px;
    background-color: $white;
    color: $green;
    &:hover {
      cursor: pointer;
      background-color: $white !important;
      border-style: solid;
      border-color: $green;
      color: $gray;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
  }
}