<div class="">
  <nav class="navbar">   
    <!--This is a developer proposal for logo and project name -->
    <a class="navbar-brand mx-3"> 
      <img src="../../assets/experimenTube.png" width="70" height="40" alt="main-logo"> ExperimenTube
    </a>
    <!--But here are the original logo and name project
    <a class="navbar-brand mx-3"> 
      <img src="../../assets/experimentality.png" width="60" height="40" alt="main-logo"> Experimentality
    </a>
    -->
    <div class="searchBar">
      <form>
        <input class="searchArea mr-2" type="search" placeholder="Search video" aria-label="Search" [(ngModel)]="searchField" name="search">      
        <button class="btn searchButton"><fa-icon class="searchIcon" [icon]="faSearch" (click)="searchVideo()"></fa-icon></button>
      </form>
    </div>
  </nav>
  <div *ngIf="haveSearched">
    <app-video [shouldMount]="haveSearched" [searchVideoList]="videoList"></app-video>
  </div>
  <div *ngIf="!haveSearched">
    <app-video [shouldMount]="haveSearched"></app-video>
  </div>
</div>