@import '../../styles/var';

.main-container {
  padding-top: 10px;
  font-family: $font-family; 
  
  .title {
    color: $green;
    font-size: 40px;
  }
  
  .information {
    color: $gray;
    font-size: 40px;
  }
}

.video-list {
  background-color: $gray;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
