@import '../../styles/var';

.container {
  font-family: $font-family;
  
  .description {
    height: 70px;
    text-align: justify;
    max-width: 450px;
    margin-left: 5px;    
  }

  .title {
    display: inline;    
  }
}


.video-container {
  border-radius: 2%;
  margin: 5px;
}