<div class="row">
  <!--Here is where the safe-url pipe is used to send the url and prevents XSS-->
  <div class="video-container col-sm-12 col-md-7">
    <iframe class="player" type="text/html" [src]="url | safeUrl: url" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-sm-12 col-md-5">
    <div class="title row">
      <p>{{video.snippet.title}}</p>
    </div>
    <br>   
    <div class="row description">
      <p>{{video.snippet.description}}</p>
    </div>    
  </div>
</div>