@import '../../styles/var';

.video-card {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: $green;
  margin: 7px;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.title {
  font-family: $font-family;
  height: 29px;
  color: $white;
}

.picture {
  margin: 12px 0px;
  max-width: 100%;
  max-height: 100%;
}