@import '../../styles/var';

.video-card {
  border-radius: 2%;
  margin: 5px;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.title {
  font-family: $font-family;
  height: 29px;
}

.picture {
  margin: 12px 0px;
  max-width: 100%;
  max-height: 100%;
}