.video-card {
  border-radius: 2%;
  margin: 5px;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  flex-basis: 30%;
}

.content {
  padding: 0 1rem 1rem ;
  padding-bottom: 0.5rem;
  hr{
    margin-bottom: 0;
  }
}

.title {
  height: 44px;
}

.picture {
  margin: 12px 0px;
  max-width: 100%;
  max-height: 100%;
}